@{
	ViewData["Title"] = "Contact Me";
}
<ul class="list-inline">
	<li class="list-inline-item"><a href="#"><span class="social social-facebook x2"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-google-plus x2"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-twitter x2"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-linked-in x2"></span></a></li>
</ul>

<address>
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@section scripts {
	<script>
		$(function() {
			BW.formUtils.init();
			BW.socialUtils.init();
		});
	</script>
}