<ul class="list-inline">
	<li class="list-inline-item"><a href="#"><span class="social social-facebook"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-google-plus"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-twitter"></span></a></li>
	<li class="list-inline-item"><a href="#"><span class="social social-linked-in"></span></a></li>
</ul>